In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Coding Dojo/ML Week 3/TeslaInc. ( TSLA ).csv')
len(df)
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
1  2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2  2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
3  2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500
4  2010-07-07  1.093333  1.108667  0.998667  1.053333   1.053333  103825500

1. Source of data: Kaggle

2. Brief description of data: Tesla stock prices over the years

3. What is the target?: Close

4. Is this a classification or regression problem?: Regression

5. How many features?: 6

6. How many rows of data. 3077

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?: Filtering

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Coding Dojo/ML Week 3/healthcare-dataset-stroke-data.csv')
len(df)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

1. Source of data: Kaggle

2. Brief description of data: Stroke prediction

3. What is the target?: Stroke

4. Is this a classification or regression problem?: Classification

5. How many features?: 11

6. How many rows of data.: 5110

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?: I feel this could be a challenge with bias and variance